<div class="main-list">
  <header>
    <h1>To-Do List</h1>
    <p>A place to store your todos</p>
  </header>
  <div>
    <input type="text" [(ngModel)]="newTask" placeholder="New task">
    <input type="number" [(ngModel)]="newDuration" placeholder="Duration (mins)">
    <button (click)="addTask()">Add Task</button>
  </div>
  <div class="todo-list">
    <div *ngFor="let todo of todos">
      <app-todo-item [todo]="todo" (complete)="onComplete(todo)" (remove)="onRemove(todo)"></app-todo-item>
    </div>
  </div>
</div>
